body {
    width: 100%;
    height: 100%;
    background-color: rgba(29, 37, 65, 0.657);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header {
    display: flex;
    justify-content: center;
}

h1 {
    /* color: white; */
    background: linear-gradient(white, gray);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 20px;
}

.main-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    @media screen and (min-width: 1400px) {
        padding: 20px 50px;
    }
}

.book {
    background-image: linear-gradient(to bottom right, gray, white);
    width: 300px;
    height: 430px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}

h2 {
    font-size: 20px;
    height: 30px;
    padding: 0px 0px 16px;
    text-align: center;
}

.img {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    img {
    width: 80px;
    height: 120px;
    background-color: transparent;
    }
}

.price_like {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.heart-like {
    width: 16px; 
    height: 16px; 
    fill: transparent; 
    stroke: black; 
}

.active {
    fill: red;
    stroke: black;
}

.likes {
    width: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    font-size: 14px;
    padding: 5px 0px;
    display: flex;
    justify-content: flex-start;
    table th {
        text-align: start;
    }
    table td {
        font-weight: 400;
        padding-left: 20px;
    }
}

h3 {
    font-size: 16px;
}

.comments {
    font-size: 14px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: flex-start;
    padding-top: 5px;

    --sbtrack-color: rgb(255, 255, 255, 0);
    --sb-thumb-color: rgb(0, 0, 0);
    --sb-size: 6px;

    .userNameComments {
        width: 100px;
    }
    .bookComments {
        height: auto;
        width: 60%;
    }
}

.comments::-webkit-scrollbar {
    width: var(--sb-size);
}

.comments::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
}

.comments::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 8px;
}

@supports not selector(::::-webkit-scrollbar) {
    .comments {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.inpField {
    height: auto;
    width: 260px;
    display: flex;
    gap: 5px;

    bottom: 0;
    margin: 0px 0px 15px;
}

.inpField input{
    height: 20px;
    width: 260px;

    display: flex;
}

.button {
    border: none;
    background-color: transparent;
}   svg {
    width: 20px;
}

.footer {
    width: 300px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    p {
        background: linear-gradient(white, gray);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    a {
        background: linear-gradient(white, gray);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }
}